@import url('https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap');


body{
    background-color: #F9F4F4;
}

header {
    background-color: #FFFFFF;
    color: #2D4494;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    text-align: center; 
}

/* Estilo para PC */
@media (min-width: 1024px) {
    header {
        font-size: 200%; /* Equivalente a 32px */
    }
}

/* Estilo para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        font-size: 150%; /* Equivalente a 24px */
    }
}

@media (max-width: 767px) {
    header {
        font-size: 120%; /* Equivalente a 19.2px */
    }
}