@import url('https://fonts.googleapis.com/css2?family=K2D:wght@700&display=swap');


body{
    background-color: #F9F4F4;
}

header {
    background-color: #FFFFFF;
    color: #2D4494;
    font-family: 'K2D', sans-serif;
    font-weight: bold;
    text-align: center; 
}

.div_center{
    font-weight: bold;
    text-align: center; 
}

.card-form-login{
    width: 1130px;
    height: 702px;
    margin-left: 155px;
    background-color: #FFFFFF;
    margin-top: 20px;
    border-radius: 20px;
    border: 1px solid #C1C1C1;

}

.card-gray{
    width: 1130px;
    height: 152px;
    background-color: #F3F3F3;
    border: 1px solid #C1C1C1; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

.input-email{
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #C1C1C1; 
    margin-top: 50px;

}

.input-pass{
    width: 500px;
    height: 60px;
    border-radius: 10px;
    border: 1px solid #C1C1C1; 

}


/* Estilo para PC */
@media (min-width: 1024px) {
    header {
        font-size: 200%; /* Equivalente a 32px */
    }
}

/* Estilo para tablet */
@media (min-width: 768px) and (max-width: 1023px) {
    header {
        font-size: 150%; /* Equivalente a 24px */
    }
}

/* Estilo para teléfono */
@media (max-width: 767px) {
    header {
        font-size: 120%; /* Equivalente a 19.2px */
    }
}
